<template name="pos_navbar">
    <ul class="nav navbar-nav">
        <li class="{{isActiveRoute name='pos.home'}}"><a href="{{pathFor 'pos.home'}}">
            <i class="fa fa-home"></i> Home
        </a></li>
        <li class="{{isActiveRoute name='pos.checkout'}}">
            <a href="{{pathFor 'pos.checkout'}}">
                <i class="fa fa-money"></i> Sale </a>
        </li>

        {{#if noSeller}}
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Manage <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{{isActiveRoute name='pos.customer'}}"><a href="{{pathFor 'pos.customer'}}">
                        <i class="fa fa-user"></i> Customer</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.supplier'}}"><a href="{{pathFor 'pos.supplier'}}">
                        <i class="fa fa-user"></i> Supplier</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.staff'}}"><a href="{{pathFor 'pos.staff'}}">
                        <i class="fa fa-user"></i> Staff</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.userStaff'}}"><a href="{{pathFor 'pos.userStaff'}}">
                        <i class="fa fa-users"></i> User Staff Mapping</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.salePayment'}}"><a href="{{pathFor 'pos.salePayment'}}">
                        <i class="fa fa-money"></i> Sale Payment</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.purchasePayment'}}"><a href="{{pathFor 'pos.purchasePayment'}}">
                        <i class="fa fa-money"></i> Purchase Payment</a>
                    </li>
                    <!--<li class="{{isActiveRoute name='pos.adjustment'}}"><a href="{{pathFor 'pos.adjustment'}}">
                        <i class="fa fa-list-alt"></i> Stock Adjustment</a>
                    </li>-->
                    <li class="{{isActiveRoute name='pos.promotionQty'}}"><a href="{{pathFor 'pos.promotionQty'}}">
                        <i class="fa fa-list-alt"></i> Promotion Quantity
                    </a>
                    </li>
                    <li class="{{isActiveRoute name='pos.promotionTotalAmount'}}"><a
                            href="{{pathFor 'pos.promotionTotalAmount'}}">
                        <i class="fa fa-list-alt"></i> Promotion Total Amount</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.promotionPercentage'}}"><a
                            href="{{pathFor 'pos.promotionPercentage'}}">
                        <i class="fa fa-list-alt"></i> Promotion Percentage</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-cogs"></i> Setting <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="{{isActiveRoute name='pos.exchangeRate'}}"><a href="{{pathFor 'pos.exchangeRate'}}">
                        <i class="fa fa-money"></i> Exchange</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.category'}}"><a href="{{pathFor 'pos.category'}}">
                        <i class="fa fa-list-alt"></i> Category</a>
                    </li>
                 <!--   <li class="{{isActiveRoute name='pos.subCategory'}}"><a href="{{pathFor 'pos.subCategory'}}">
                        <i class="fa fa-list-alt"></i> Sub Category</a></li>-->
                    <li class="{{isActiveRoute name='pos.unit'}}"><a href="{{pathFor 'pos.unit'}}">
                        <i class="fa fa-list-alt"></i> Unit</a></li>
                    <li class="{{isActiveRoute name='pos.product'}}"><a href="{{pathFor 'pos.product'}}">
                        <i class="fa fa-list-alt"></i> Product</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-eye"></i> View List <span
                        class="label label-danger">{{getPublishedCount 'owedSale'}}</span><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="{{isActiveRoute name='pos.stock'}}"><a href="{{pathFor 'pos.stock'}}">
                        <i class="fa fa-eye"></i> Stock List</a>
                    </li>-->
                    <li class="{{isActiveRoute name='pos.saleList'}}"><a href="{{pathFor 'pos.saleList'}}">
                        <i class="fa fa-eye"></i> Sale List
                        <span class="label label-danger">{{getPublishedCount 'owedSale'}}</span></a>
                    </li>
                    <li class="{{isActiveRoute name='pos.purchaseList'}}">
                        <a href="{{pathFor 'pos.purchaseList'}}">
                        <i class="fa fa-eye"></i> Purchase List
                        <!--<span class="label label-danger">{{getPublishedCount 'owedSale'}}</span>-->
                        </a>
                    </li>
                </ul>
            </li>

            <!--
            <li class="{{isActiveRoute name='pos.purchase'}}">
                <a href="{{pathFor 'pos.purchase'}}">
                    <i class="fa fa-money"></i> Purchase</a>
            </li>
             <li class="{{isActiveRoute name='pos.endOfProcess'}}"><a href="{{pathFor 'pos.endOfProcess'}}">
                    <i class="fa fa-save"></i> EOP</a>
            </li>-->

            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-file-text"></i> Reports <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <!--<li class="{{isActiveRoute name='pos.myCustomerReport'}}"><a
                        href="{{pathFor 'pos.myCustomerReport'}}">Sample</a>
                </li>-->
                    <li class="{{isActiveRoute name='pos.saleReport'}}"><a href="{{pathFor 'pos.saleReport'}}">
                        <i class="fa fa-file-text"></i> Sale Summery</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.saleDetailReport'}}"><a
                            href="{{pathFor 'pos.saleDetailReport'}}">
                        <i class="fa fa-file-text"></i> Sale Items Detail</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='pos.purchaseReport'}}"><a href="{{pathFor 'pos.purchaseReport'}}">
                        <i class="fa fa-file-text"></i> Purchase Summery</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.purchaseDetailReport'}}"><a
                            href="{{pathFor 'pos.purchaseDetailReport'}}">
                        <i class="fa fa-file-text"></i> Purchase Items Detail</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='pos.stockReport'}}"><a href="{{pathFor 'pos.stockReport'}}">
                        <i class="fa fa-file-text"></i> Stock Balance</a>
                    </li>
                    <li class="divider"></li>
                    <li class="{{isActiveRoute name='pos.owedCustomerReport'}}"><a
                            href="{{pathFor 'pos.owedCustomerReport'}}">
                        <i class="fa fa-file-text"></i> Owed Customer</a>
                    </li>

                </ul>
            </li>
            <li class="dropdown">
                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <i class="fa fa-wrench"></i> Tools <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">

                    <li class="{{isActiveRoute name='pos.backup'}}"><a href="{{pathFor 'pos.backup'}}">
                        <i class="fa fa-files-o"></i> Backup</a>
                    </li>
                    <li class="{{isActiveRoute name='pos.restore'}}"><a href="{{pathFor 'pos.restore'}}">
                        <i class="fa fa-files-o"></i> Restore</a>
                    </li>

                </ul>
            </li>
        {{/if}}
    </ul>
</template>


<template name="pos_saleNotification">
    <ul>
        {{#each pos_saleNotification}}
            <li>{{_customer.name}} | {{_id}}</li>
        {{/each}}
    </ul>
</template>